* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url("../pictures/rm251-mind-08-f.jpg");
    background-attachment: scroll;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200vh;
}

a,button {
    all: unset;
    cursor: pointer;
}
.navbar {
    height:80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url("../pictures/ultra-wide-2l3eccf0fd63mbdh.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.5s ease;
    z-index: 20;
}
img#one {
    width : 70px;
    height : 60px;
}
img#two{
    width: 50px;
    height: 50px;
}
.menu {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-right: 20px;
}
.menu-links-left {
    display: flex;
    gap: 24px;
    border-right: 1px solid #fff;
    padding-inline: 24px;
}
.menu-links-left a {
    font-size: 1.2em;
    font-weight:  500;
    color:#fff;
    margin-left: 35px;
    padding: 8px 5px;
    display:  inline-block;
    position: relative;
}
.menu-links-left a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFB22C;
    transition: transform 0.25s ease-out;
}

.menu-links-left a:hover {
    color: #FFB22C;
}

.menu-links-left a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}
.menu-links-left a::after{
    transform-origin: bottom center;
}

.menu-links-right {
    display: flex;
}
.menu-links-right .margin{
    padding-right: 20px;
}
.btn-login {
    font-weight: 500;
    padding: 8px 20px;
    background: transparent;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #fff;
    transition: 0.2s;
}
.btn-login:hover {
    background-color: #fff;
    color: #010101;
    transition: 0.2s;
}

.lang-menu{
    position: relative;
}
.lang-menu.display ul{
    display: block;
    transition: 0.5s;
}
.lang-menu ul {
    text-align: center;
    background-color: #FFB22C;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: absolute;
    display: none;
    transition: 0.5s;
    top: 30px;
    left: 0;
}
.lang-menu ul li {
    list-style: none;
}
.lang-menu ul li a{
    display: block;
    padding: 5px 5px;
    border-radius: 5px;
}
.lang-menu ul li a:hover{
    background-color: #da951e;
    transition: 0.2s;
}
.selected-lang{
    text-align: center;
    border: 1px solid #fff;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    border-radius: 5px;
    color: #fff;
    transition: 0.2s;
}
.selected-lang:hover{
    color:#010101;
    background-color: #fff;
    transition: 0.2s;
}
.wrapper {
    color: #fff;
    position: sticky;
    width:400px;
    height:440px;
    top: 20%;
    left: 40%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease, height 0.2s ease;
    transform: scale(0);
    z-index: 5;
}

.wrapper.active {
    height: 540px;
}

.wrapper.active-popup {
    transform: scale(1);
}
.wrapper .form-box {
    width: 100%;
    padding: 40px;
}
.wrapper .form-box h2 {
    font-size: 3em;
    color: #da951e;
    text-align: center;
    cursor:default;
}

.wrapper .form-box.login {
    transition: transform 0.18s ease;
    transform: translateX(0);
}
.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform 0.18s ease;
    transform: translateX(0);
}
.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #da951e;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.wrapper .icon-close:hover{
    background-color: #c8891c;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #da951e;
    margin: 20px 0;
}
.input-box label {
    position: absolute;
    top: 70%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #da951e;
    font-weight: 500px;
    pointer-events: none;
    transition: 0.5s;
}

.input-box input{
    color: #fff;
    width: 100%;
    margin-top: 18px;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 600;
    padding: 0 35px 0 5px;
    font-size: 1em;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: 10px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #da951e;
    line-height: 57px;
}
.remember-forgot {
    font-size: 0.9em;
    color: #da951e;
    font-weight: 500;
    margin: 15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #da951e;
    margin-right: 3px;
    vertical-align: middle;
}

.remember-forgot a {
    color: #da951e;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    text-align: center;
    background: #da951e;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn:active{
    background-color: #22032d;
}

.btn:hover{
    background-color: #c8891c;
}
.login-register {
    font-size: 0.9em;
    color: #da951e;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a {
    font-weight: 600;
}
.login-register p a:hover {
    text-decoration: underline;
}
/* movie slider */

.movie{
    position: relative;
    overflow: hidden;
    padding: 20px;
    bottom: 20%;
}
.movie-category{
    color: #fff;
    padding: 0 7vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}
.movie-container{
    padding: 0 7vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.movie-container::-webkit-scrollbar{
    display: none;
}
.movie-card{
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}
.movie-image{
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}
.movie-thumb{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 10px;
}
.play-tag{
    font-size: 40px;
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    top: 1%;
    left: 1%;
    opacity: 0;
    transition: 0.5s;
    z-index: 1;
}
.name {
    color: #fff;
    position: absolute;
    padding: 5px 5px;
    top: 15%;
    font-size: 15px;
    font-weight: lighter;
    opacity: 0;
    transition: 0.5s;
    text-transform: capitalize;
    z-index: 1;
}
.card-btn{
    font-weight: 500;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 50%;
    text-transform: capitalize;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    opacity: 0;
    text-align: center;
    justify-content: center;
}
.movie-card:hover .card-btn,.movie-card:hover .play-tag,.movie-card:hover .name{
    opacity: 1;
    transition: 0.5s;
}
.movie-card:hover .movie-thumb{
    filter: brightness(50%);
    transition: 0.5s;
}

.show-date{
    color: #da951e;
    margin: 20px 0;
}

.movie-name {
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin: 20px 0;
    text-overflow: ellipsis;
}

.pre-btn,.nxt-btn{
    font-size: 30px;
    color: white;
    width: 8vw;
    height: 60%;
    position: absolute;
    top: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}
.nxt-btn {
    right: 0;
}

.pre-btn i,
.nxt-btn i {
    opacity: 0.2;
}

.pre-btn:hover i,
.nxt-btn:hover i{
    opacity: 1;
}